@charset "UTF-8";
body {
    background-color: rgb(188, 224, 218);
}

article {
    background-color: rgb(255, 255, 255, 0.700);
    width: 55%;
    min-width: 650px;
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px 50px;
    color: rgb(70, 70, 70);
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1 {
    float: left;
    margin-bottom: 30px;
    font-size: 30px;
}

li {
    clear: both;
}

button {
    text-decoration: none;
    border: none;
    margin-right: 10px;
    background-color: rgba(245, 222, 179, 0);
    font-size: 20px;
    font-weight: 600;
    color: rgb(35, 116, 101);
}

button:hover {
    color: rgb(53, 180, 157);
}