@charset "UTF-8";
body {
    background-color: rgb(188, 224, 218);
}

article {
    background-color: rgb(255, 255, 255, 0.700);
    width: 680px;
    height: 100%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 100px 50px;
    color: rgb(70, 70, 70);
    box-sizing: border-box;
}

h1 {
    margin-bottom: 40px;
    font-size: 30px;
}

form {
    padding: 20px;
}

.contents {
    padding-top: 30px;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}

.contents:first-child {
    padding-top: 0;
    margin-top: 0;
}

.button {
    text-align: center;
    margin-top: 30px;
}

button {
    font-size: 18px;
    padding: 0.3em 1em;
    margin: 30px 10px;
    background-color: rgb(107, 197, 182);
    border: solid 2px rgb(107, 197, 182);
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.700);
    color: rgb(70, 70, 70);
}