@charset "UTF-8";

/*--------共通部分CSS-----------------*/

body {
    background-color: rgb(188, 224, 218);
}

article {
    background-color: rgb(255, 255, 255, 0.700);
    width: 680px;
    height: 100%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 100px 50px;
    color: rgb(70, 70, 70);
    box-sizing: border-box;
}

a {
    float: right;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(35, 116, 101);
}

a:hover {
    color: rgb(53, 180, 157);
}

h1 {
    clear: both;
    margin-bottom: 40px;
    font-size: 30px;
}

section {
    margin: 20px;
}

form {
    padding: 0 20px;
}

.contents {
    padding-top: 30px;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}

.text {
    width: 100%;
    height: 45px;
    font-size: 20px;
    padding-left: 0.5em;
    margin: 5px 0 15px;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

.text:focus {
    background-color: rgb(255, 255, 255, 0.700);
    outline: none;
}

.border {
    margin: 5px 0 5px;
    border-bottom: solid 1px rgb(35, 116, 101);
}


/*------------電話番号入力画面用　CSS-------------------------------*/

button {
    float: right;
    font-size: 18px;
    padding: 0.3em 1em;
    margin: 30px 10px;
    background-color: rgb(107, 197, 182);
    border: solid 2px rgb(107, 197, 182);
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.700);
    color: rgb(70, 70, 70);
}

p {
    clear: both;
}