@charset "UTF-8";
body {
    background-color: rgb(188, 224, 218);
}

article {
    background-color: rgb(255, 255, 255, 0.700);
    width: 680px;
    height: 100%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 50px 30px;
    color: rgb(70, 70, 70);
    box-sizing: border-box;
}

form {
    padding: 20px;
}

button {
    float: right;
    font-size: 18px;
    padding: 0.3em 1em;
    margin: 30px 10px;
    background-color: rgb(107, 197, 182);
    border: solid 2px rgb(107, 197, 182);
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.700);
    color: rgb(70, 70, 70);
}

h1 {
    float: left;
    margin: 30px 10px;
    font-size: 30px;
}

section {
    clear: both;
    margin: 30px 10px;
}

.input {
    font-size: 18px;
    font-weight: bold;
}

div {
    margin-left: 10px;
}

.border {
    margin: 5px 0 5px;
    border-bottom: solid 1px rgb(35, 116, 101);
}